/* --------------------------------------------------------
Style Sheet for fairRate

version: 0.9
last modified: 20.09.2020 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/


/* ==========================================================================
	Base styles: opinionated defaults
	========================================================================== */

html, body {
	scroll-behavior: smooth;
}

*, body {
	font-family: 'Montserrat', 'Merriweather', 'Gotu', 'Lora', serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}


/* ==========================================================================
	Global
	========================================================================== */

.is-flex {
	display: flex;
}

hr {
	margin: 40px 0px;
}

